# Misc
.DS_Store
.dart_tool/
.packages
.pub/
build/

# Generated plugin registrant (macOS)
macos/Flutter/GeneratedPluginRegistrant.swift

# Flutter related
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
pubspec.lock

# IDEs
.idea/
*.iml

# Visual Studio Code
.vscode/
.history/

# Android specific
android/.gradle/
android/.idea/
android/local.properties
android/key.properties

# iOS & macOS specific
ios/Pods/
ios/Flutter/Flutter.podspec
ios/.generated/
macos/Pods/
macos/.generated/

# Windows specific
windows/flutter/ephemeral/

# Linux specific
linux/flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related directories
x64/
x86/

# VS cache files
*.[Cc]ache
!*.[Cc]ache/
